body{
    background-color: rgb(231, 220, 242);
    font-family: Arial, sans-serif;
}
.container{
    max-width: 800px;
    margin: 120px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header{
    margin-bottom: 30px;
}
h1{
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}


form{
    padding: 30px;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    display: flex;
     margin-bottom: 20px;
}

.instruction{
    padding: 16px;
    width: 80%;
    border: 1px solid rgba(39, 33, 66, 0.5);
    font-size: 16px;
    border-radius: 50px;
    color: rgb(31, 30, 30);
}

.submit-button{
    margin-left: 10px;
    background-color: rgb(115, 83, 144);
    color: white;
    width: 150px;
    border-radius: 50px;
    padding: 14px 24px;
    border: none;
}

.recipe{
    background-color: rgb(252, 251, 250);
    padding: 20px;
    border-radius: 8px;
    line-height: 24px;
    border-left: 3px solid rgb(87, 57, 115);
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    font-size: 16px;
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

a{
    color: rgb(87, 57, 115);
}